<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/addrecipe.css">
    <link rel="icon" href="/images/web/logo_1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Me Cake | เพิ่มสูตร</title>
    <script>
        function addIngredient() {
            let newInputInd = document.createElement("input");
            newInputInd.className = "inp";
            newInputInd.type = "text"
            newInputInd.name = "ingredients[]"
            document.getElementById('add1').appendChild(newInputInd)
        }

        function addRecipe() {
            let newInputInd2 = document.createElement("input");
            newInputInd2.className = "inp";
            newInputInd2.type = "text"
            newInputInd2.name = "recipe[]"
            document.getElementById('add2').appendChild(newInputInd2)
        }
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <a href="#nav">
        <div class="plus">
            <i class="material-icons" style="font-size:36px">expand_less</i>
        </div>
    </a>
    <nav id="nav">
        <ul>
            <a href="./home"><img class="logo" src="/images/web/logo.png" alt="logo"></a>
            <li clas s="btn"><a href="/profile">
                    <%=user.username %>
                </a></li>
            <li class="btn"><a class="active" href="/addrecipe">เพิ่มสูตร</a></li>
            <li class="btn "><a href="/home">หน้าหลัก</a></li>
        </ul>
    </nav>
    <form action="/addrecipe/uploadrecipe" method="POST" enctype="multipart/form-data">
        <div class="wrapper-add">
            <div class="add-box">
                <div class="add-img">
                    <div class="image-preview" id="imagePreview">
                        <img src="" alt="Image Preview" class="image-preview__image">
                        <span class="image-preview__default-text">Image Preview</span>
                    </div>
                    <label for="inpFile" class="inpFile">อัปโหลดรูปภาพ</label>
                    <input type="file" name="inpFile" id="inpFile" required>
                </div>
                <div class="add-detail">
                    <label for="cake-name">ชื่อเค้ก</label>
                    <input type="text" id="cake_name" name="recipe_name" required>
                    <label for="cake-name">วัตถุดิบ</label>
                    <div class="add-group" id="add1">
                        <input class="inp" type="text" id="ingredients" name="ingredients[]" required>
                        <div class="add" onclick="addIngredient()">+</div>
                    </div>
                    <label for="cake-name">ขั้นตอน</label>
                    <div class="add-group" id="add2">
                        <input class="inp" type="text" id="recipe" name="recipe[]" required>
                        <div class="add" onclick="addRecipe()">+</div>
                    </div>
                </div>
                <div class="header"><strong>ชนิดเค้ก</strong> </div>
                <div class="type-cake">
                    <input class="c" type="radio" name="category" id="butter-cake" value="บัตเตอร์เค้ก" required>
                    <label  for="butter-cake">บัตเตอร์เค้ก</label>
                    <input class="c" type="radio" name="category" id="cheese-cake" value="ชีสเค้ก">
                    <label for="cheese-cake">ชีสเค้ก</label>
                    <input class="c" type="radio" name="category" id="red-velvet-cake" value="เรดเวลเวตเค้ก">
                    <label for="red-velvet-cake">เรดเวลเวตเค้ก</label>
                    <input class="c" type="radio" name="category" id="sponge-cake" value="สปันจ์เค้ก">
                    <label for="sponge-cake">สปันจ์เค้ก</label>
                    <input class="c" type="radio" name="category" id="chiffon-cake" value="ชิฟฟอนเค้ก">
                    <label for="chiffon-cake">ชิฟฟอนเค้ก</label>
                    <input  class="c" type="radio" name="category" id="flour-cake" value="เค้กไร้แป้ง">
                    <label for="flour-cake">เค้กไร้แป้ง</label>
                    <input class="c" type="radio" name="category" id="fruit-cake" value="เค้กผลไม้">
                    <label for="fruit-cake">เค้กผลไม้</label>
                </div>
                <button type="submit">บันทึก</button>
            </div>
        </div>
    </form>

    <script>

        const inpFile = document.getElementById('inpFile');
        const previewContainer = document.getElementById('imagePreview');
        const previewImage = previewContainer.querySelector('.image-preview__image')
        const previewDefaultText = previewContainer.querySelector('.image-preview__default-text')

        inpFile.addEventListener("change", function () {
            const file = this.files[0]

            if (file) {
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener('load', function () {
                    previewImage.setAttribute("src", this.result)
                });
                console.log(file)
                reader.readAsDataURL(file);
            } else {
                previewDefaultText.style.display = null;
                previewImage.style.display = null;
                previewImage.setAttribute("src", "");
            }
        })

    </script>

</body>

</html>