<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="icon" href="/images/web/logo_1.png">

    <title>Me Cake</title>
</head>

<body>
    <nav class="nav">
        <ul>
            <a href="/"><img class="logo" src="/images/web/logo.png" alt="logo"></a>
            <li class="btn"><a href="/register">สมัครสมาชิก</a></li>
            <li class="btn"><a href="/login">เข้าสู่ระบบ</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="bg">
            <img src="/images/web/bg.png" alt="background">
        </div>

        <div class="col">
            <div><img src="/images/web/header.png" alt="Title"></div>
            <span>
                เว็บไซต์รวบรวมสูตรขนมเค้กแสนอร่อย
                มีหลากหลายชนิดเค้กให้เลือกหาและคุณยังสามารถแบ่งปันสูตรขนมเค้กของคุณให้กับผู้ที่สนใจขนมเค้กเช่นเดียวกับคุณได้อีกด้วย
            </span>
        </div>
    </div>
</body>

</html>