body {
    margin: 0;
    padding: 0;
    background-color: #f6f4f4;
}
      
.profile_pic {
    height: 150px;
    width: 150px;
    position: relative;
    left: 45%;
    border-radius: 50%;
    background: url('../img/profile_pic.png');
    background-size: 100% 100%;
    margin-top: 10%;
    overflow: hidden;
}
                        
.file_pic {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
                        
.file_pic::-webkit-file-upload-button {
    visibility: hidden;
}


.form{
    margin: 2% 0 0 35%;
}
.form .set-label{
    margin-left: 35px;
}
                
input[type=text],
[type=password] {
    border-radius: 10px;
    border: 3px solid #cfcfcf;
    width: 400px;
    margin: 20px 0px 15px 10px;
    padding: 5px 10px;
    background-color: #f6f4f4;
} 

.radioGroup{
    margin-top: 10px;
}

.sex_label{
    display: inline-block;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 100px;
    padding: 5px 0;
    text-align: center;
}
/*.s_radio{
    display: none;
}*/
.s_radio:checked + .sex_label{
    background: #f48b29;
    color: white;
}
              
button {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #a6a6a6;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
}
button:last-child{
    margin-left: 30px;
}
                        
button:hover {
    background-color: #f48b29;
    transition: all 0.2s ease-in;
}

